* {
    margin: 0;
    font-family: "Audiowide", sans-serif;
    overflow: hidden;
}

body {
    height: 100vh;
    background: url("./assets/bg3.jpg") no-repeat center center fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
}

.container {
    height: 500px;
    width: 70%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.201);
    /* padding: 10% 10% 13% 10%; */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.heading {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 3rem;
    color: black;
}

.header {
    display: flex;
    padding-bottom: 10px;
    align-items: center;
}

.errors,
.cpm,
.wpm {
    background-color: #CB4335;
    height: 60px;
    width: 80px;
    margin: 8px;
    padding: 12px;
    border-radius: 20%;
    box-shadow: black 5px 8px 5px;
}

.timer,
.accuracy {
    background-color: #28B463;
    height: 60px;
    width: 80px;
    margin: 8px;
    padding: 12px;
    border-radius: 20%;
    box-shadow: black 5px 8px 5px;
}

.accuracy {
    background-color: #A569BD;
}

.cpm,
.wpm {
    background-color: #3498DB;
    display: none;
}

.header_text {
    text-transform: uppercase;
    font-size: 0.65rem;
    font-weight: 600;
}

.curr_errors,
.curr_cpm,
.curr_wpm,
.curr_time,
.curr_accuracy {
    font-size: 2.2rem;
}

.quote {
    background-color: #566573;
    color: white;
    font-size: 1.45rem;
    margin: 10px;
    padding: 25px;
    border-radius: 8px;
    box-shadow: black 5px 8px 5px;
}

.input_area {
    height: 50px;
    width: 45%;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 15px;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 8px;
    box-shadow: black 0px 0px 50px;
    background-color: rgba(255, 255, 255, 0.06);
    backdrop-filter: blur(20px);
}

.restart_btn {
    display: none;
    color: #fff;
    background-color: #5B2C6F;
    font-size: 1.5rem;
    padding: 10px;
    border: 0px;
    box-shadow: black 5px 8px 5px;
}

.incorrect_char {
    color: #ff0000;
    text-decoration: underline;
}

.correct_char {
    color: darkgreen;
}